{% extends 'base.html' %}

{% block title %}Meus Equipamentos{% endblock %}

{% block content %}
<br>
<h2>Meus Equipamentos</h2>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Modelo</th>
            <th>N Série</th>
            <th>H Atual</th>
        </tr>
    </thead>
    <tbody>
    {% for eq in equipamentos %}
        <tr>
            <td>{{ eq.categoria.nome }}</td>
            <td>{{ eq.modelo.nome }}</td>
            <td>{{ eq.numero_serie }}</td>
            <td>{{ eq.horimetro_atual }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
</body>
</html>