{% extends 'base.html' %}

{% block title %}Relatório Mensal{% endblock %}

{% block content %}
<br>
<h2>Filtrar Relatório Mensal</h2>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
{% if atividades %}
    <h3 class="mt-4">Resultados</h3>
    <a href="{% url 'exportar_excel_mensal' form.cleaned_data.mes form.cleaned_data.ano %}" class="btn btn-success">Exportar Excel</a>
    <a href="{% url 'exportar_pdf_mensal' form.cleaned_data.mes form.cleaned_data.ano %}" class="btn btn-danger">Exportar PDF</a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Data</th>
                <th>Equipamento</th>
                <th>Descrição</th>
                <th>Horímetro Inicial</th>
                <th>Horímetro Final</th>
                <th>Local</th>
            </tr>
        </thead>
        <tbody>
            {% for a in atividades %}
            <tr>
                <td>{{ a.data }}</td>
                <td>{{ a.equipamento }}</td>
                <td>{{ a.descricao }}</td>
                <td>{{ a.horimetro_inicial }}</td>
                <td>{{ a.horimetro_final }}</td>
                <td>{{ a.local.nome }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
</body>
</html>